{
  "region": "us-east-2",
  "image": "ibm-centos-stream-9-amd64-13",
  "type": "bx3d-8x40",
  "resource_group_name": "your-resource-group-name",
  "vpc": "your-vpc-name-or-id",
  "ssh_key": "your-ssh-key-name-or-id",
  "nodes": [
      {
        "count": 3,
        "prefix": "mon",
        "swap_size": 16384,
        "groups": ["mons", "mgrs", "mdss"]
      },
      {
        "count": 3,
        "prefix": "osd",
        "root_size": 32768,
        "swap_size": 32768,
        "type": 16384,
        "group": "osds",
        "osd_devices_by_host": {
          "ceph53": ["/dev/sdb", "/dev/sdc"],
          "ceph54": ["/dev/sdb"],
          "ceph59": ["/dev/nvme0n1"]
        }
      },
      {
        "count": 1,
        "prefix": "mds",
        "group": "mdss"
      },
      {
        "count": 1,
        "prefix": "mgr",
        "swap_size": 16384,
        "group": "mgrs"
      },
      {
        "count": 1,
        "prefix": "client",
        "group": "clients",
        "type": 1024
      }
  ]
}
